body {
  padding-top: 50px;
}

.clear{
	clear: both;
}
.main-content{
  padding: 40px 15px;
  text-align: center;
}

.btn-file{color:#fff;background-color:#BFD684;;border-color:rgba(0,0,0,0.2)}
.btn-file:hover,.btn-file:focus,.btn-file:active,
.btn-file.active,.open>.dropdown-toggle.btn-file{color:#fff;background-color:#AEBF82;border-color:rgba(0,0,0,0.2)}
.btn-file:active,.btn-file.active,.open>.dropdown-toggle.btn-file{background-image:none}
.btn-file.disabled,.btn-file[disabled],fieldset[disabled] .btn-file,.btn-file.disabled:hover,.btn-file[disabled]:hover,fieldset[disabled] .btn-file:hover,.btn-file.disabled:focus,.btn-file[disabled]:focus,fieldset[disabled] .btn-file:focus,.btn-file.disabled:active,.btn-file[disabled]:active,fieldset[disabled] .btn-file:active,.btn-file.disabled.active,.btn-file[disabled].active,fieldset[disabled] .btn-file.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-file .badge{color:#3b5998;background-color:#fff}


.facebookalbum {
	height: 300px;
	float: left;
	width: 300px;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
}

.facebookalbum img {
	width: 200px;
	height: 200px;
}

.single_fb_photo{
	width:620px;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #ccc;
}

.single_fb_photo span{
	display: block;
}

.single_fb_photo img{
	width: 600px;
}

.story_image, .story_tweet, .story_fbfeed {
	display: block;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
}

.story_image img, .story_tweet img, .story_fbfeed img {
	width: 600px;
}

.story_image {}

/*.story_tweet {background-color: #A7CFF0;}

.story_fbfeed {background-color: #CAA7F0;}*/


#about_the_city{
	display: none;
	margin: 10px;
	border: 1px solid #ccc;
	height: 250px;
	overflow: scroll;
	padding: 10px;
}

.story_item {
	border: 1px dotted #ccc;
	margin: 15px;
}

.hide_story {
	background: rgb(239, 40, 40);
	color: #fff;
	padding: 10px;
	margin: 10px 0 0;
	display: block;
	width: 100px;
	float: right;
	cursor: pointer;
}

.show_story {
	background: rgb(47, 197, 77);
	color: #fff;
	padding: 10px;
	margin: 0;
	/*display: block;*/
	width: 100px;
	float: right;
	cursor: pointer;
	display: none;
}

.story_item_container {
	padding: 10px;
}

.extra_information_area {
	width: 100%;
	height: 100px;
	border: none;
	resize: none;
	padding: 10px;
	border-bottom: 1px dotted #ccc;
	background: rgb(241, 253, 255);
}

#finish_edit {
	background: rgb(221, 218, 229);
	position: fixed;
	padding: 10px;
	width: 200px;
	top: 375px;
	margin: 0 0 0 15px;
	cursor: pointer;
}





